:root {
  --main-color: #434455;
  --secondary-color: #2e2f42;
  --secondary-background: #f4f4fd;
  --logo-button-color: #4d5ae5;
  --background-color: #e5e5e5;
  --accent-color: #ffffff;
  --secondary-accent-color: #404bbf;
  --card-border-color: #e7e9fc;
  --service-color: #8e8f99;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  background-color: var(--accent-color);
  padding-top: 72px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* Header */
.header {
  border-bottom: 1px solid var(--card-border-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 72px;
  background-color: var(--accent-color);
}
.main-navigation {
  display: flex;
  align-items: center;
}
.logo {
  display: inline-block;
  padding: 24px 0;
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-button-color);
}
.top-logo-part-two {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.logo-part-two {
  color: var(--secondary-color);
}
.site-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.current {
  position: relative;
}
.title {
  display: inline-block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title:hover,
.title:focus,
.link.current {
  color: var(--secondary-accent-color);
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  background-color: var(--secondary-accent-color);
  border-radius: 2px;
}
.address {
  margin-left: auto;
  font-style: normal;
  display: flex;
  align-items: center;
}
.contacts {
  display: flex;
  gap: 40px;
}
.address-link {
  display: inline-block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: var(--secondary-accent-color);
}
/* Hero */
.hero {
  background-color: var(--secondary-color);
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  height: 600px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-color);
}
.main-button {
  display: block;
  margin-left: auto;
  margin-right: auto;

  min-width: 169px;
  height: 56px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--logo-button-color);
  color: var(--accent-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover,
.main-button:focus {
  background-color: var(--secondary-accent-color);
}
/* Our strengths */
.strengths-container {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-position {
  display: flex;
  gap: 24px;
}
.list-position .subtitle {
  width: 264px;
}
.box-for-icon {
  display: flex;
  height: 112px;
  margin-bottom: 8px;
  background-color: var(--secondary-background);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.section-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--secondary-color);
}
/* What are we doing */
.container-examples {
  padding-bottom: 120px;
}
.examples {
  display: flex;
  gap: 24px;
}
.example-item {
  width: calc((100%-48px) / 3);
}
/* Team */
.team-section {
  background-color: var(--secondary-background);
  padding: 120px 0;
}
.employee {
  text-align: center;
}
.employee-card {
  display: flex;
  gap: 24px;
}
.team-photo {
  background-color: var(--accent-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% -72px) / 4);
}
.employee-deskription {
  padding: 32px 16px;
}
.cos-list {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}
.team-cos {
  width: 40px;
  height: 40px;
}
.cosial {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--logo-button-color);
  border-radius: 50%;

  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cosial:hover,
.cosial:focus {
  background-color: var(--secondary-accent-color);
}
.cos {
  fill: var(--secondary-background);
}
/* Customers */
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-list {
  display: flex;
  gap: 24px;
}
.customers-item {
  width: calc((100%-120px) / 6);
  width: 168px;
  height: 88px;
  color: var(--secondary-accent-color);
}

.customes-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--service-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: var(--service-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon {
  fill: currentColor;
}

.customes-link:hover,
.customes-link:focus {
  border-color: var(--secondary-accent-color);
  color: var(--secondary-accent-color);
}
/* Footer */
.footer {
  padding: 100px 0;
  background-color: var(--secondary-color);
}
.foot {
  display: flex;
  align-items: baseline;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-button-color);
}
.footer-logo-part-two {
  color: var(--secondary-background);
}
.footer-description {
  display: block;
  width: 264px;
  margin-right: auto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-background);
}
.logo-container {
  margin-right: 120px;
}

.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 16px;
}
.icon-item {
  display: flex;
  gap: 16px;
}
.icon-example {
  width: 40px;
  height: 40px;
}
.cosial-footer {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--logo-button-color);
  border-radius: 50%;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cosial-footer:hover,
.cosial-footer:focus {
  background-color: #31d0aa;
}
.footer-icon {
  fill: var(--secondary-background);
}
.footer-form {
  width: 453px;
  height: 80px;
  margin-left: auto;
}
.form-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.form {
  display: flex;
  gap: 24px;
}
.email-input {
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--secondary-color);
  color: var(--accent-color);
  padding-left: 16px;
  background-color: transparent;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.email-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--accent-color);
}
.email-input:focus {
  border: 1px solid var(--secondary-accent-color);
  outline: none;
}

.footer-button {
  display: flex;
  min-width: 165px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: var(--logo-button-color);
  color: var(--accent-color);
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 8px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-icon {
  fill: var(--accent-color);
  margin-left: 16px;
}
.footer-button:focus {
  background-color: var(--secondary-accent-color);
}
/* Portfolio */
.our-works {
  padding: 96px 0 120px;
}
/* Menu buttons */
.portfolio-button {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.menu-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-button-color);
  background-color: var(--secondary-background);
  cursor: pointer;
  border: 1px solid var(--card-border-color);
  border-radius: 4px;
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-button:hover,
.menu-button:focus {
  background-color: var(--secondary-accent-color);
  color: var(--accent-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.our-works-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.work-example {
  width: calc((100% - 48px) / 3);
}
.work-example:hover .example-cover-text {
  transform: translateY(0);
}

.example-item {
  display: block;
  box-sizing: border-box;
  width: 360px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-cover-wrap {
  position: relative;
  overflow: hidden;
  z-index: -1;
}
.example-cover-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-background);
  background-color: var(--logo-button-color);
  padding: 40px 32px;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-item:hover,
.example-item:focus,
.example-item:focus .example-cover-text {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.example-deskription {
  padding: 32px 16px;
  border: 1px solid var(--card-border-color);
  border-top: none;
}
/* Backdrop */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px;
}
.modal-close {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--card-border-color);
  padding: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  color: var(--secondary-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-close-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
  background-color: var(--secondary-accent-color);
  color: var(--accent-color);
  border: none;
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--secondary-color);
}
.modal-form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-field {
  margin-bottom: 8px;
}

.input-label input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
}

.input-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--service-color);
  display: block;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--logo-button-color);
  background-color: var(--accent-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--logo-button-color);
}

.input-wrap {
  position: relative;
  margin-bottom: 8px;
}

.modal-icon {
  position: absolute;
  fill: var(--secondary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.input-comment {
  margin-bottom: 16px;
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  margin-left: 8px;
}

.modal-comment:focus {
  border-color: var(--logo-button-color);
}

.wrap-privacy {
  margin-bottom: 24px;
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--service-color);
  margin-bottom: 24px;
  align-items: center;
}

.check {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
}
.modal-check:focus + .check-text span {
  border-color: var(--secondary-accent-color);
}

.modal-check:checked + .check-text span {
  background-color: var(--secondary-accent-color);
  border: none;
  fill: var(--secondary-background);
}

.privacy-link {
  color: var(--logo-button-color);
}

.button-send {
  display: block;
  color: var(--accent-color);
  border: none;
  background: var(--logo-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 48px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:hover,
.button-send:focus {
  background-color: var(--secondary-accent-color);
}
